/*/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Thea 
Version:		2.0
Last change:	11/08/2015
Author:			Thor Håkon Bredesen, Erik Frøseth, Øystein Molnes
Primary use:	Administration  
/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Layout
3. Headers
4. Text
5. Menu
-------------------------------------------------------------------*/

/*	1. Body															*/
/*------------------------------------------------------------------*/

html, body{
	min-height: 100%;
	margin-left: 0;
	padding: 0;
}

.pusher{
	min-height: 100%;
}

.margin-top-30{
	margin-top: 40px;
}

.ui.container {

}

/*	2. Layout														*/
/*------------------------------------------------------------------*/
.center{
	text-align: center ;
}


/*	3. Headers														*/
/*------------------------------------------------------------------*/
h4{
	color: #999 !important; 
}


/*	4. Text														*/
/*------------------------------------------------------------------*/

i.header{
	font-style: normal;
	font-size: 30px;
	margin-top: 10px;
}


	5. Menu															
/*------------------------------------------------------------------*/


.ui.left.sidebar{
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html.ios,
html.ios body {
  height: initial !important;
}

.ui.vertical.menu{
	width:100%;
	height:100%;
	border-radius: 0px;
}
/*
.ui.vertical.menu{
	border-radius: 0px;
	min-height: 100%;
	width:  100% !important;
}
*/
#menubutton{
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 992px) {
	#menubutton{
		visibility: visible;
	}
}

/*	6. Form															*/
/*------------------------------------------------------------------*/

#participantform .ui.form{
	border: 0px;
}


.comment-textarea #comment { 
	resize: none;
	max-width: 300px;
}

textarea {
	width: 100%;
	color: black;
	border: none;
	background-color: transparent;
}

textarea:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.message {
	background-color: transparent !important;
}

/*	7. Colors														*/
/*------------------------------------------------------------------*/
.background-green{
	background-color: rgba(34, 190, 52, .2);

}

.success{
	color: #4D824F;
}