/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Thea 
Version:		2.0
Last change:	11/08/2015
Author:			Thor Håkon Bredesen, Erik Frøseth, Øystein Molnes
Primary use:	Carrying out entries for student athlete events
/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Layout
3. Text
4. Color
-------------------------------------------------------------------*/


/*	1. Body															*/
/*------------------------------------------------------------------*/
body{

}

.container{
	margin-top: 50px;
	margin-bottom: 50px;
}

/*	2. Layout														*/
/*------------------------------------------------------------------*/
.center{
	text-align: center ;
}

/*	3. Text															*/
/*------------------------------------------------------------------*/
h4{
	color: #00B5AD !important; 
}

/*	4. Color															*/
/*------------------------------------------------------------------*/
.color-teal{
	color: #00B5AD;
}