/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Thea
Version:		2.0
Last change:	11/08/2015
Author:			Øystein Molnes
Primary use:	Style Thea 2.0 pages for making entries
/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Layout
3. Text
4. Color
5. Input
6. Footer
-------------------------------------------------------------------*/


/*	1. Body															*/
/*------------------------------------------------------------------*/

.container{
	padding-top: 50px;
}

/*	2. Layout														*/
/*------------------------------------------------------------------*/
.center{
	text-align: center ;
}

/*	3. Text															*/
/*------------------------------------------------------------------*/
h4{
	color: #2185D0 !important;
}

/*	4. Color													    */
/*------------------------------------------------------------------*/
.color-teal{
	color: #00B5AD;
}

.color-green{
	color: #21BA45;
}

.color-blue{
	color: #2185D0;
}

/*	5. Input													    */
/*------------------------------------------------------------------*/
/*Hides a radio-button for the jcrop*/
.jcrop-keymgr{
	opacity: 0;
}

/*	6. Footer													    */
/*------------------------------------------------------------------*/
.footer{
	position: absolute;
	bottom: -50px;
	height: 200px;
	background-color: #404040;
	width: 100%;
	color: #939393;
	z-index: 1;
	padding-top: 40px;
}


/*  7. Image cropping                                               */
/*------------------------------------------------------------------*/
.img-preview {
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.img-preview > img {
  max-width: 100%;
}

.preview-lg {
  width: 200px;
  height: 175px;
}


div[data-name=additions-container] div.field {
	margin-bottom: 0 !important;
}
